
body{

    background-image: url('FFbackground.jpg');
    background-size:cover;
    min-height: 100vh;



}



button{

    display: block;
    background-color: skyblue;
   

}

header{

    text-align: center;
}

.monster-button{


    background-color: tomato;

}


section{

    display: inline-block;
    left: 0px;
    margin: 50px;
    color:red;

}

.hero{
    color: skyblue
}


.hero-monster{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;


}

