
body{

    background-image: url('background.png');
    background-size:cover;
    background-position:center bottom;
    min-height: 100vh;
}

#buttons{
    display: block;
    position: absolute;
    bottom: 25px;
    left:120px;
    background-color: black;
    border: 2px solid white;
    height: 100px;    
}

button{
    display: block;
    color:white;
    background-color:black;
    border: 1px solid black;
    margin: 12px;
    font-size: 13px;
}

button:hover{
    text-decoration: underline overline;
}

header{
    background: black;
    color: white;
    text-align: center;
    font-size: 50px;
}

.monster-button{
    background-color: tomato;
}


.hero{
    color: skyblue;
    display: inline-block;
    position: absolute;
    left: 250px;
    bottom: 0px;
}

.Cloud{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);     /* <----found this line of code at w3schools : https://www.w3schools.com/howto/howto_css_flip_image.asp        */
}

.randomMonster{
    position: relative;
    object-fit: fill;
    bottom: 0;
}

#monsterDiv{
    position: absolute;
    display: inline-block;
    right:100px;
    bottom:0px;
    margin: 0px;
    color:red;
}

.monsterImg{
    height:300px;
    overflow: hidden;
}

.monster-health{
    font-size: 25px
}

.hero-health{
    font-size: 25px;
}

